<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"><img src="../../../assets/img/logo.png" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-radio-group [(ngModel)]="currentLang" (ionChange)="changeLanguage()" >
      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Spanish</ion-label>
        <ion-radio value="es"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
