<ion-header>
  <ion-toolbar color="second">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"><img src="../../../assets/img/logo.svg" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="medium">
    <ion-icon name="people" slot="start"></ion-icon>
    <ion-label>{{"ANSWER_TYPE" | translate}}:</ion-label>
    <ion-select interface="popover" [(ngModel)]="currentType">
      <ion-select-option value="all">{{"ALL" | translate}}</ion-select-option>
      <ion-select-option  *ngFor="let type of questionTypes" [value]="type.type">{{type.text}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="ion-padding">
    <ion-toolbar color="second">
      <ion-title>
        <em>{{"SHARE_QUESTION" | translate}}</em>
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="shareSocialMedia()">
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-toolbar>
  </div>  
  <app-hasbara-loader *ngIf="!question"></app-hasbara-loader>
  <div *ngIf="question">
    
    <h4 class="ion-text-center ion-padding ion-no-margin">{{question.question?.question?.rendered}}</h4>
    <div class="ion-padding-horizontal ion-padding-bottom">
    <div *ngIf="question">
      <div>
        <ion-card *ngFor="let answer of question?.question?.answers | questions:currentType | questionsTone:selectedTones">
          <ion-card-header color="light">
            <ion-card-subtitle>
              {{"ANSWER_TYPE" | translate}}: <ion-text color="danger">{{getTypeDesc()}}</ion-text> | 
              {{"ANSWER_TONE" | translate}}: {{ answer["tone"]?.title?.rendered }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content [innerHTML]='answer["answer"]?.rendered' class="ion-text-justify"></ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" size="small" (click)="copyAnswer(answer)">
                  <ion-icon slot="start" name="copy-outline"></ion-icon>
                  {{"COPY_ANSWER" | translate}}
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" size="small" (click)="shareAnswer(answer)">
                  <ion-icon name="share-social-outline"></ion-icon>
                  {{"SHARE_ANSWER" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="medium" size="small" (click)="complement(answer)">
                  {{"COMPLE_ANSWER" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
    </div>
  </div>

</ion-content>
<ion-footer color="light">
  <ion-radio-group value="" [(ngModel)]="selectedTone">
  <ion-grid class="button-group" color="light">
    <ion-row class="ion-text-center">
      <ion-col *ngFor="let tone of questionTones">
          <!--<ion-tab-button [ngClass]="{'tone-selected': selectedTones.indexOf(tone.type) > -1 }" (click)="unselectTone(tone.type)">-->
            <ion-tab-button (click)="unselectTone(tone.type)">
            <!--<ion-icon [src]="'/assets/img/tonos/' + tone.type + '.svg'"></ion-icon>-->
            <ion-radio 
            disabled="true"
            color="{{toneColor[tone.type]}}"
            value="{{tone.type}}">-aaa</ion-radio>
            <!--<ion-icon name="star"></ion-icon>-->
            <ion-label color="dark">{{tone.text}}</ion-label>
          </ion-tab-button> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-radio-group>
</ion-footer>

