ion-grid.button-group{
    background-color: var(--ion-color-light-shade);
}
ion-tab-button {
    *{
        opacity: 0.5;
    }
    &.tone-selected{
        *{
            opacity: 1;
    
        }
    }
}

ion-card-subtitle{
    font-size: 0.95em;
}
ion-card-content{
    padding-top: 10px;
}