footer{
    text-align: center;
    font-size: 12px;
    border-top: 1px solid rgb(248 248 248 / 15%);
    margin: 5px 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    color:var(--ion-color-second);
    &.clear{
        color:#FFF;
    }
}