<ion-header>
  <ion-toolbar color="second">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"> <img src="../../../assets/img/logo.svg" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <app-hasbara-loader *ngIf="!article"></app-hasbara-loader>
  <div *ngIf="article">
    <h4 class="ion-text-center ion-padding">{{article?.title?.rendered}}</h4>
    <div class="ion-padding">
    <div *ngIf="questions.length > 0">
      <div>
        <ion-list lines="none" class="tipical-list inner-list">
          <ion-item (click)="openAnswers(question)" detail="true" *ngFor="let question of questions">
            <ion-label class="ion-text-wrap">{{question?.question?.rendered}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    </div>
    <div class="ion-padding ion-text-justify" [innerHTML]="article?.content?.rendered"></div>
  </div>

</ion-content>