ion-list.index-list{
    ion-item{
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-start: 0;
        --inner-padding-end: 0;
        --color:var(--ion-color-second);
        font-weight: 700;
        &::part(detail-icon){
            color:var(--ion-color-second);
            border:1px solid var(--ion-color-second);
          //  background: var( --ion-color-secondary);
            opacity: 1;
            padding: 3px;
            border-radius: 50%;
        }
    }
}
.index-heading{
    color:var(--ion-color-second);
    text-decoration:underline;
    text-decoration-color: var(--ion-color-second);
}