<ion-header>
  <ion-toolbar color="second">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"><img src="../../../assets/img/logo.svg" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-hasbara-loader *ngIf="chapters.length == 0"></app-hasbara-loader>
  <app-hasbara-loader *ngIf="chapters.length == 0"></app-hasbara-loader>
  <div *ngIf="chapters.length > 0">
    <ion-grid class="ion-margin-top ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <img src="../../../assets/img/300inner.{{currentLang}}.png" width="80px" />
        </ion-col>
        <ion-col size="8">
          <h4 class="ion-text-center index-heading">{{"CONTENT_INDEX" | translate}}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<h4 class="ion-text-center ion-margin-bottom">{{book?.name}}</h4>  -->
    <div class="ion-padding">
      <ion-list lines="full" class="index-list">
        <ion-item routerLink="/chapter/{{chapter?.id}}" detail="true" *ngFor="let chapter of chapters">
          <ion-label>{{chapter?.title?.rendered}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <app-footer *ngIf="chapters.length > 0"></app-footer>
</ion-content>