<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"><img src="../../../assets/img/logo.png" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <app-hasbara-loader *ngIf="!topic"></app-hasbara-loader>
  <div *ngIf="topic">
    <h4 class="ion-text-center ion-margin-bottom">{{topic?.title?.rendered}}</h4>
    <div class="ion-padding ion-text-justify" [innerHTML]="txt"></div>
  </div>
</ion-content>