<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"><img src="../../../assets/img/logo.png" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-hasbara-loader *ngIf="results.length == 0 && !loaded"></app-hasbara-loader>  
  <div class="ion-padding">
    <div *ngIf="results.length > 0">
      <h4 class="ion-text-center ion-padding-bottom">{{"SEARCH_RESULTS" | translate}}</h4>
      <div>
        <ion-list lines="none" class="tipical-list inner-list">
          <ion-item (click)="openResult(result)" detail="true" *ngFor="let result of results">
            <ion-label class="ion-text-wrap">{{result?.title}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div class="ion-padding" *ngIf="results.length == 0 && loaded">
    <h4 class="ion-text-center">{{"NO_SEARCH_RESULTS" | translate}}</h4>
  </div>
</ion-content>