<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay"  side="end" swipeGesture="false">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title mode="md" class="ion-text-uppercase">
            <img src="../../../assets/img/logo.png" class="header-logo" />
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>{{ "HOME" | translate }}</ion-label>
            </ion-item>            
            <!--<ion-item routerLink="/unity-pinchas">
              <ion-icon slot="start" name="flash-outline"></ion-icon>
              <ion-label>{{ "RETO_HASBARA" | translate  }}</ion-label>
            </ion-item>-->
            <ion-item routerLink="/unity-zohar">
              <ion-icon slot="start" name="book-outline"></ion-icon>
              <ion-label>{{ "300_PREGUNTAS" | translate }}</ion-label>
            </ion-item>
            <ion-item routerLink="/languages">
              <ion-icon slot="start" name="language-outline"></ion-icon>
              <ion-label>{{ "CHANGE_LANGUAGE" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
