em{
  font-style: italic;
}
ion-content.bg-hasbara{
  --background:url('../../../assets/img/bg.png') center top;
}
.logo-container{
  background: url("../../../assets/img/logo.png") no-repeat;
  height:140px;
  background-size: 100%;
  margin: 45px auto 0;
  max-width: 320px;
}

ion-searchbar{
  --background: transparent;
  --placeholder-color:rgba(255, 255, 255, 0.85);
  --icon-color: #FFF;
  --border-radius:0;
  --box-shadow:none;
  --color:#FFF;
  --clear-button-color:FFF;
  border-bottom: 1px solid #FFF;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

ion-card.card-300{
  --background: url(../../../assets/img/83766f8c508f97a287b9184b040a5faa.jpg);
  background-position: center center;
  border-radius: 0;
  ion-card-header{    
    ion-card-title{
      --color: #FFF;
    }
    ion-card-subtitle{
      --color: #FFF;
    }
  }
  ion-button{
    font-weight: 700;
    --border-radius: 8px;
    --ion-color-contrast: var(--ion-color-second) !important;
  }
}
