<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase" color="primary">
      <img src="../../../assets/img/logo.svg" class="header-logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-hasbara">
  <div class="ion-padding ion-margin-top">
    <form (ngSubmit)="sendForm()">
      <ion-searchbar debounce="0" mode="md" placeholder="{{'SEARCH_PH' | translate}}" name="search" [(ngModel)]="searchValue"></ion-searchbar>
    </form>
  </div>
  <div class="ion-padding">
    <ion-card class="card-300 ion-no-margin">
      <ion-card-header class="ion-text-center">
        <ion-card-title>{{"300_PREGUNTAS" | translate}}</ion-card-title>
        <ion-card-subtitle>{{"300_PREGUNTAS_SUB" | translate}}</ion-card-subtitle>      
      </ion-card-header>
      <ion-card-content>
        <ion-button routerLink="/singular-book" expand="block" size="large" color="light">{{"MEET_BOOK" | translate}}</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <app-hasbara-loader *ngIf="themes.length == 0"></app-hasbara-loader>
  <div class="ion-padding" *ngIf="themes.length > 0">
    <ion-list lines="none" class="tipical-list">
      <ion-item routerLink="/theme/{{theme?.id}}" detail="true" *ngFor="let theme of themes">
        <ion-label>{{theme?.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!--
  <app-hasbara-loader *ngIf="courses.length == 0"></app-hasbara-loader>
  <div class="ion-padding" *ngIf="courses.length > 0">
    <h4 class="ion-text-center" color="light" >Cursos</h4>
    <ion-list lines="none" class="tipical-list">
      <ion-item routerLink="/courses/{{course?.id}}" detail="true" *ngFor="let course of courses">
        <ion-label>{{course?.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  
  <app-hasbara-loader *ngIf="books.length == 0"></app-hasbara-loader>
  <div class="ion-padding" *ngIf="books.length > 0">
    <h4 class="ion-text-center">Libros</h4>
    <ion-list lines="none" class="tipical-list">
      <ion-item routerLink="/books/{{book?.id}}" detail="true" *ngFor="let book of books">
        <ion-label>{{book?.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
-->
<app-footer type="clear"></app-footer>
</ion-content>
