ion-toolbar.bg-transparent{    
    --background: url(../../../assets/img/83766f8c508f97a287b9184b040a5faa.jpg);
    ion-menu-button{
        color:var(--ion-color-light);
    }
    ion-back-button{
        color: #FFF;
    }
}
.book-bg{
    background: url(../../../assets/img/83766f8c508f97a287b9184b040a5faa.jpg);
    background-position: 0 -56px;
    height: 30vh;
    max-height: 300px;
}
.book-info{
    margin-top: -27vh;
    color:#FFF;
    h3{
        font-weight: 700;
    }
    h4{
        font-size: 1.2em;
    }
    ion-button{
        --border-radius:8px;
        font-size: 14px;
    }
}
.book-text{
    text-align: justify;
    color:var(--ion-color-second);
}
