<ion-header class="ion-no-border">
  <ion-toolbar class="bg-transparent">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"> <img src="../../../assets/img/logo.svg" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="book-bg">
  </div>
  <div class="book-info">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <img src="../../../assets/img/book.{{currentLang}}.jpeg" alt="book-portrait">
        </ion-col>
        <ion-col size="6">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col>
                <h3>{{"300_PREGUNTAS" | translate}}</h3>
                <h4>Gabriel Ben-Tasgal</h4>
                <h4> <strong>$15.00</strong></h4>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="second" targe="_blank" size="large" href="{{bookLink}}" rel="external">
                  {{"BUY_PHYSICAL" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button 
                  routerLink="/books/36"
                  class="ion-margin-top" fill="outline" expand="block" color="second" size="large">
                  {{"READ_ONLINE" | translate}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-padding">
    <p class="book-text">
      {{"BOOK_PRO" | translate}}
    </p>
  </div>
  <app-footer ></app-footer>
</ion-content>
