<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>HasbarApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4 class="ion-text-center">{{ "COMPLE_ANSWER" | translate}}</h4>

  <form [formGroup]="dataForm">
    <ion-list class="candle-buy-form">
      <ion-item>
        <ion-label position="stacked">{{"NAME" | translate}}</ion-label>
        <ion-input placeholder="{{'PERSON_NAME' | translate}}" type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-box ion-padding-bottom">
        <div *ngIf="name.errors.required">
          {{"INSERT_NAME" | translate}}
        </div>
      </div>
      <ion-item>
        <ion-label position="stacked">{{"EMAIL" | translate}}</ion-label>
        <ion-input placeholder="{{'PERSON_EMAIL' | translate}}" type="text" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-box ion-padding-bottom">
        <div *ngIf="email.errors.required">
          {{"INSERT_EMAIL" | translate}}
        </div>
      </div>

      <ion-item>
        <ion-label position="stacked">{{"MESSAGE" | translate}}</ion-label>
        <ion-textarea  auto-grow="true" rows="4" placeholder="{{'PERSON_MESSAGE' | translate}}" type="text" formControlName="message"></ion-textarea>
      </ion-item>
      <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error-box ion-padding-bottom">
        <div *ngIf="message.errors.required">
          {{"INSERT_MESSAGE" | translate}}
        </div>
      </div>
    </ion-list>
    <div class="ion-padding-vertical">
      <ion-button 
        (click)="sendAnswer()"
        expand="block"
        size="large" [disabled]="!dataForm.valid || submitting">
        {{ ( (submitting) ? 'PROCESSING' : "SUBMIT" ) | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>