<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"><img src="../../../assets/img/logo.png" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-hasbara-loader *ngIf="topics.length == 0"></app-hasbara-loader>
  <div *ngIf="topics.length > 0">
    <h4 class="ion-text-center ion-margin-bottom">{{course?.name}}</h4>  
    <div class="ion-padding">
      <ion-list lines="none" class="tipical-list inner-list">
        <ion-item routerLink="/topic/{{topic?.id}}" detail="true" *ngFor="let topic of topics">
          <ion-label>{{topic?.title?.rendered}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
