<ion-header>
  <ion-toolbar color="second">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"> <img src="../../../assets/img/logo.svg" class="header-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-hasbara-loader *ngIf="articles.length == 0 && !theme"></app-hasbara-loader>
  <div *ngIf="articles.length > 0">
    <h4 class="ion-text-center ion-margin-bottom">{{theme?.name}}</h4>  
    <div class="ion-padding">
      <ion-list lines="none" class="tipical-list inner-list">
        <ion-item routerLink="/article/{{article?.id}}" detail="true" *ngFor="let article of articles">
          <ion-label>{{article?.title?.rendered}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
