/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body{
    font-family: 'Roboto Slab', serif;
}

img.header-logo{
    max-width: 100px;
    margin-top: 6px;
}
.ios{
    img.header-logo{
        max-width: 80px;
        margin-top: 0px;
    }
}
ion-list.tipical-list{
    background: transparent;
    ion-item{
        margin-bottom: 10px;
        --detail-icon-color:var(--ion-color-primary-contrast);
        &::part(detail-icon){
            color:var(--ion-color-primary-contrast);
            background: var( --ion-color-secondary);
            opacity: 1;
            padding: 3px;
            border-radius: 50%;
        }
    }
    &.inner-list{
        ion-item{
            --background: #f8f8f8;
            --border-color:#b2b2b2;
            --border-width:1px;
            ion-label{
                margin-right: 8px;
            }
        }
        
    }
}